@model IEnumerable<IPG_Funcionarios.Models.Ferias>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoFerias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuemID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFerias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuemID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeriasID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeriasID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeriasID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
