@model IEnumerable<IPG_Funcionarios.Models.Feria>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoFeria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioForeignKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorForeignKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFeria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioForeignKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorForeignKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeriaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeriaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeriaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
