@model IPG_Funcionarios.Models.Professor

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover</h1>
<h3>Deseja remover este professor?</h3>
<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelemovel):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelemovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gabinete):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gabinete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProfessorId" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">voltar</a>
    </form>
</div>
