@model IPG_Funcionarios.Models.Professor

@{
    ViewData["Title"] = "Delete";
}

<div class="main-panel view-html" style="width:100%;">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <a asp-action="Index"><i class="mdi mdi-keyboard-backspace"></i> Voltar </a>
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Views</li>
                    <li class="breadcrumb-item"><a asp-action="Index">Professores</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Delete</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="page-title"> Tem certeza de que deseja excluir? </h4>
                <div class="panel">

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Contacto)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Contacto)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Gabinete)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Gabinete)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ProfessorId" />
                        <input type="submit" value="Delete" class="c-btn c-btn-primary" />
                        <a class="c-btn c-btn-secundary w-100" asp-action="Index">Cancelar</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    form.d-flex.align-items-center.h-100,
    .navbar-menu-wrapper span {
        display: none;
        visibility: hidden;
    }
</style>