@model ProfessorViewModel

@{
  ViewData["Title"] = "Professores";
}

@{
    /* DO NOT CHANGE THIS CODE */
        string[] _Sort = new String[Model.column.Length];
        for(int i=0; i<Model.column.Length; i++){
            _Sort[i] = Model.CurrentOption == Model.column[i] ? 
            (!String.IsNullOrEmpty(Model.Sort) ? Model.Sort : "") : "";
        }
        /* Quantity of Results */
        string Entries_ = (Model.EntriesStart.ToString() != Model.EntriesEnd.ToString()) ?
            "de " + Model.EntriesStart.ToString() + " até " + Model.EntriesEnd.ToString() : Model.EntriesEnd.ToString();
        int Entries_per_page_min = 5,
            Entries_per_page_max = 100;
        string crq = Context.Request.QueryString.ToString();
        string Page, Sort, Query, Order, IPPage;
        try { Page = crq.Split("page=")[1].Split("&")[0]; } catch (IndexOutOfRangeException) { Page = ""; }
        try { Sort = crq.Split("sort=")[1].Split("&")[0]; } catch (IndexOutOfRangeException) { Sort = ""; }
        try { Query = crq.Split("q=")[1].Split("&")[0]; } catch (IndexOutOfRangeException) { Query = ""; }
        try { Order = crq.Split("o=")[1].Split("&")[0]; } catch (IndexOutOfRangeException) { Order = ""; }
        try { IPPage = crq.Split("ipp=")[1].Split("&")[0]; } catch (IndexOutOfRangeException) { IPPage = ""; }
    /* DO NOT CHANGE THIS CODE */
}

<div class="main-panel view-html" >
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <a asp-controller="Home" asp-action=""><i class="mdi mdi-keyboard-backspace"></i> Voltar </a>
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Views</li>
                    <li class="breadcrumb-item"><a asp-action="Index">Professores</a></li>
                    <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                                <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                                    <div class="row">
                                        <div class="col-sm-12 ctrl-a">
                                            <a asp-action="Create" class="c-btn c-btn-primary">Adicionar</a>
                                            <select id="entries_per_page" name="order-listing_length"
                                                    aria-controls="order-listing" class="custom-select custom-select-sm form-control">
                                                <option value="0">Todas</option>
                                                @for (int i = Entries_per_page_min; i <= Entries_per_page_max; i += Entries_per_page_min)
                                                {
                                                <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-6"><div id="order-listing_filter" class="dataTables_filter"></div></div>
                                    </div>
                                    @if (Model.EntriesAll > 0)
                                    {
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table id="order-listing" class="table table-striped" role="grid" aria-describedby="order-listing_info">
                                                <thead>
                                                    <tr role="row" class="sort">
                                                        @for(int i=0; i<Model.column.Length; i++){
                                                            <th class="sort" tabindex="0" sort="@_Sort[i]" rowspan="1" colspan="1">
                                                                &nbsp;@Model.column[i]&nbsp;
                                                            </th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.Professor)
                                                        {
                                                    <tr role="row" class="even">
                                                        <td class="sorting_1">
                                                            @Html.DisplayFor(modelItem => item.ProfessorId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Nome)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Contacto)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td class="t-center">
                                                            @Html.DisplayFor(modelItem => item.Gabinete)
                                                        </td>
                                                        <td class="t-center">
                                                            <a asp-action="Edit" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-warning">Editar</a>
                                                            <a asp-action="Details" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-info">Detalhes</a>
                                                            <a asp-action="Delete" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-danger">Remover</a>
                                                        </td>
                                                    </tr>
                                                        }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    @if (Model.AllPages > 1 && String.IsNullOrEmpty(Model.CurrentSearch))
                                        {
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">Mostrando @Entries_ de @Model.EntriesAll registos</div>
                                        </div>
                                    </div>

                                    <!-- Paginação -->
                                    <nav aria-label="Page navigation" class="pages">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" id="prev">Anterior</a>
                                            </li>
                                            @for (int i = Model.FirstPage; i <= Model.AllPages; i++)
                                                    {

                                            @if (i == Model.CurrentPage)
                                                        {
                                            <li class="page-item active"><a class="page-link">@i</a></li>
                                                        }
                                                        else
                                                        {
                                            <li class="page-item">
                                                <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-sort="@Sort" asp-route-o="@Order" asp-route-ipp="@IPPage" asp-route-q="@Query">@i</a>
                                            </li>
                                                        }
                                            }
                                            <li class="page-item">
                                                <a class="page-link" id="next">Próximo</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- Paginação -->
                                    }
                                    }
                                    else
                                    {
                                    <br />
                                    <h3>Nenhum item encontrado :(</h3>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        /* FROM ASP.NET */
        window.aspNet = window.aspNet || {};
        window._asp = window._asp || {};
        window.aspNet.URL = location.protocol + '//' + '@Context.Request.Host/@Model.mainURL';
        window.aspNet.Page = parseInt('@Model.CurrentPage');
        window.aspNet.Sort = '@Model.Sort';
        window.aspNet.Query = encodeURIComponent('@Model.CurrentSearch').trim().toLowerCase();
        window.aspNet.nPage = parseInt('@Model.AllPages');
        window.aspNet.pHoldTxt = 'Procurar por '+ capitalize('@Model.CurrentOption');
        window.aspNet.EPerPage = '@Model.EntriesPerPage';
        
        /* FROM URL */
        window._asp.page = "@Page";
        window._asp.sort = "@Sort";
        window._asp.qery = "@Query";
        window._asp.ordr = "@Order";
        window._asp.ippg = "@IPPage";
    </script>
    <style>
        button[data-toggle="minimize"], #todo-task 
        {
            display: none; visibility: hidden;
        }
    </style>
}