@model IEnumerable<IPG_Funcionarios.Models.Professor>

@{
    ViewData["Title"] = "Index";
}
<h1>Lista dos Professores</h1>
<br />
<br />
<br />
<h4 class="card-title">
    <a asp-controller="Home" asp-action="" class="btn btn-outline-dark btn-back">Voltar</a>
    <br /><br />
    <a asp-action="Create" class="btn btn-outline-success btn-add" >Adicionar</a>
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gabinete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gabinete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-danger">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .btn {
        position:absolute;
    }
    .btn-add {
        margin-top:120px;
        margin-left:-250px;
    }
    .btn-back{
        margin-top:100px;
        margin-left:-250px;
    }
</style>