@model IEnumerable<IPG_Funcionarios.Models.Professor>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <div class="card">
            <h4 class="card-title">Lista dos Professores</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Nome </th>
                            <th> Contacto </th>
                            <th> Email </th>
                            <th> Gabinete </th>
                            <th> &nbsp; </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProfessorId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contacto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gabinete)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-warning">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-info">Detalhes</a>
                                    <a asp-action="Delete" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-danger">Remover</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

                <!-- Paginação -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- Paginação -->

            </div>
        </div>
    </div>
    <div class="col">
        <div class="ctrl">
            <a asp-controller="Home" asp-action="" class="btn btn-outline-dark btn-back">Voltar</a>
            <!-- asp-action="Create" -->
            <a class="btn btn-outline-success btn-add" data-toggle="modal" data-target="#exampleModal-3">Adicionar</a>
        </div>


        <!-- Modal starts -->

        <!--
        info: data-toggle="modal" data-target="#exampleModal-3"   
        --->

        <div class="modal fade" id="exampleModal-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel-3">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Ends -->


    </div>
</div>

<style>
    .pagination,
    .jsgrid .jsgrid-pager {
        overflow-x: hidden;
        margin-top: 40px;
    }

    .ctrl {
        width: 100%;
        position: fixed;
        top: 100px;
        display: inline-flex;
    }

    .btn-add {
        margin-left: 10px;
    }

    a.btn {
        border: none;
        border-radius: 50px;
    }

        a.btn.btn-back {
            background-color: #6c757d;
            border-color: #6c757d;
            color: white;
        }

        a.btn.btn-add {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }
</style>

<script>
    $("#search").keypress(function () {
        console.log($(this).val());
    });
</script>