@model IEnumerable<IPG_Funcionarios.Models.Professor>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista dos Professores</h1>

<p>
    <a asp-action="Create">Adicionar Novo Professor?</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gabinete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTelemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gabinete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProfessorId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProfessorId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProfessorId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
