@model ProfessorViewModel

@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col">

            <div class="card">
                    <h4 class="card-title">Lista dos Professores</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Nome </th>
                                    <th> Contacto </th>
                                    <th> Email </th>
                                    <th> Gabinete </th>
                                    <th> &nbsp; </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Professor) {
                                    <tr>
                                        <td>
                                            @item.ProfessorId
                                        </td>
                                        <td>
                                            @item.Nome
                                        </td>
                                        <td>
                                            @item.Contacto
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.Gabinete
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-warning">Editar</a>
                                            <a asp-action="Details" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-info">Detalhes</a>
                                            <a asp-action="Delete" asp-route-id="@item.ProfessorId" class="badge badge-pill badge-danger">Remover</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                </div>
            </div>

        </div>
        <div class="col" >

            <a asp-controller="Home" asp-action="" class="btn btn-outline-dark btn-back">Voltar</a>
            <br /><br />
            <a asp-action="Create" class="btn btn-outline-success btn-add">Adicionar</a>

        </div>
    </div>

<style>

</style>