@model IPG_Funcionarios.Models.Departamento

@{
    ViewData["Title"] = "Details";
}



    <div class="main-panel" style="width:100%;">
        <div class="content-wrapper" style="background-color:white;">
            <div class="page-header">
                <h4>Departamento</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Departamento</li>
                        <li class="breadcrumb-item">Views</li>
                        <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col">
                    <!-- COLUNA 1 -->
                    <!-- TODO CONTEÚDO AQUI! -->
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                    </dl>

                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.DepartamentoId" class="btn btn-facebook btn-edit">Edit</a> |
                        <a asp-action="Index"  class="btn btn-primary btn-back">Back to List</a>
                    </div>

                </div>
               


            </div>
        </div>
    </div>
<!--

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartamentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 -->
