
@model DepartamentoViewsModels

@{
    ViewData["Title"] = "Index";
}
<!--
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["PaginaCorrenter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Voltar a Lista</a>
            </p>
        </div>
    </form>
 -->

    <div class="main-panel view-html" style="width:100%;">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    <a asp-controller="Home" asp-action=""><i class="mdi mdi-keyboard-backspace"></i> Voltar </a>
                </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Views</li>
                        <li class="breadcrumb-item">Departamento</li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

                                        <div class="row">
                                            <div class="col-sm-12 ctrl-a">
                                                <a asp-action="Create" class="c-btn c-btn-primary">Adicionar</a>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-danger">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2" style="text-align:center">
                                                                    @Html.DisplayNameFor(model => model.Departamentos)
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.Departamentos)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Nome)
                                                                    </td>
                                                                    <td style="text-align:center;">
                                                                        <a asp-action="Edit" asp-route-id="@item.DepartamentoId" class="badge badge-pill badge-warning">Edit</a>
                                                                        <a asp-action="Details" asp-route-id="@item.DepartamentoId" class="badge badge-pill badge-info">Details</a>
                                                                        <a asp-action="Delete" asp-route-id="@item.DepartamentoId" class="badge badge-pill badge-danger">Delete</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>

                                                    <nav aria-label="Page navigation example">

                                                        <ul class="pagination justify-content-center">
                                                            <li class="page-item"><a class="page-link">Previous</a></li>

                                                            @for (int i = 1; i <= Model.PaginaTotal; i++)
                                                            {
                                                                @if (i == Model.PaginaCorrente)
                                                                {
                                                                    <li class="page-item active"><a class="page-link">@i</a></li>

                                                                }
                                                                else
                                                                {
                                                                    <li class="page-item"><a asp-action="Index" asp-route-page="@i" asp-route-PaginaCorrente="@i" class="page-link" asp-route-StringProcura="@Model.StringProcura " asp-route-StringSort="@Model.Sort">@i</a></li>
                                                                }


                                                            }
                                                            <li class="page-item"><a class="page-link">Next</a></li>
                                                        </ul>
                                                    </nav>


                                                </div>
                                            </div>
                                        </div>




                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                                    <!--<script>
                            $(document).ready(function () {
                                $("#search").keyup(function (event) {
                                var url = 'https://' + window.location.host + '/Departamento?page=1&sort=true&searchString=' + $(this).val();
                                url ? window.location.assign(url) : null;
                            }).val('@Model.StringProcura').focus();
                        });

                    </script>
                    -->
                                    <style>
                                        .pagination,
                                        .jsgrid .jsgrid-pager {
                                            overflow-x: hidden;
                                            margin-top: 40px;
                                        }

                                        .row {
                                            width: 100%;
                                        }


                                        .btn {
                                            margin-top: 40px;
                                        }
                                    </style>
